.ProseMirror {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  outline: none !important;
  
}
.tiptap-page {
   border: none !important;
  box-shadow: none !important;
  width: 794px;
  min-height: 1123px;
  background: #fff;
  box-shadow: 0 2px 16px rgba(0,0,0,0.06);
  border-radius: 8px;
  padding: 48px 40px;
  margin: 32px auto;
  position: relative;
  overflow: hidden;
  page-break-after: always;
    border-radius: 0 !important;

}
.body{
  border: none !important;
}
[data-page-body="true"] {
  padding-left: 15px !important;
  padding-right: 15px !important;
  width: calc(100% - 50px) !important; /* Full width minus margins */
  max-width: 210mm !important; /* A4 width as max */
  min-width: 300px !important;
  height: 246.2mm !important;
  min-height: 400px !important;
  margin: 25px !important;
  box-sizing: border-box !important;
}
